.header-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.search-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .search-category-container {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.heading {
  margin-left: 10px;
}
.popular {
  border-bottom: 1px solid orange;
}

.topRated {
  border-bottom: 1px solid orange;
}

.upcoming {
  border-bottom: 1px solid orange;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  margin-left: 5px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 3px;
}

.pages {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.page {
  background-color: transparent;
  border: none;
  font-weight: 500;
}

@media (min-width: 768px) {
  .page {
    font-size: 15px;
  }
}

li {
  margin-left: 5px;
}

input {
  outline: none;
}
